<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
     style="background: rgb(78,223,92);">
    <div class="container-fluid d-flex flex-column p-0"><a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
        <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
    </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <button class="nav-link active" onclick="openPageFournisseur()"><i
                        class="fas fa-table"></i><span>Fournisseur</span></button>
            </li>
            <li class="nav-item">
                <button class="nav-link active" onclick="openPageSalleBloc()"><i
                        class="fas fa-table"></i><span>Salle et Bloc</span></button>
            </li>
            <li class="nav-item">
                <button class="nav-link active" onclick="openPageMarque()"><i
                        class="fas fa-table"></i><span>Marque</span></button>
            </li>
            <li class="nav-item">
                <button class="nav-link active" onclick="openPageModele()"><i
                        class="fas fa-table"></i><span>Modèle</span></button>
            </li>
            <li class="nav-item">
                <button class="nav-link active" onclick="openPageMagasin()"><i
                        class="fas fa-table"></i><span>Magasin</span></button>
            </li>
            <li class="nav-item">
                <button class="nav-link active" onclick="openPageHardware()"><i
                        class="fas fa-table"></i><span>Hardware</span></button>
            </li>
            <li class="nav-item">
                <button class="nav-link active" onclick="openPageIntervention()"><i
                        class="fas fa-table"></i><span>Intervention</span></button>
            </li><li class="nav-item">
                <button class="nav-link active" onclick="openPageLocation()"><i
                        class="fas fa-table"></i><span>Location</span></button>
            </li><li class="nav-item">
                <button class="nav-link active" onclick="openPageMessage()"><i
                        class="fas fa-table"></i><span>Message</span></button>
            </li><li class="nav-item">
                <button class="nav-link active" onclick="openPageUtilisateur()"><i
                        class="fas fa-table"></i><span>Utilisateur</span></button>
            </li><li class="nav-item">
                <button class="nav-link active" onclick=""><i
                        class="fas fa-table"></i><span>Reclamation</span></button>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline"></div>
    </div>
</nav>