<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/client-assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/client-assets/css/aos.min.css') }}">
</head>

<body>
{% include 'client/elements/side-bars/client-side-bar.html' %}
<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold mb-4">Vous avez des <span class="underline">questions</span>?</h2>
                <p class="text-muted">Si vous avez des questions vous pouvez nous contacter par ici.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div>
                    <div class="p-3 p-xl-4" method="post" data-bs-theme="light">
                        <div class="mb-3"><input class="shadow form-control" type="text" id="sujet" name="name"
                                                 placeholder="Sujet..."></div>
                        <div class="mb-3"><textarea class="shadow form-control" id="message" name="message" rows="6"
                                                    placeholder="Message...."></textarea></div>
                        <div>
                            <button class="btn btn-primary shadow d-block w-100" id="contact-btn" onclick="envoyer_message()" >Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'client/elements/footers/client-footer.html' %}
<script src="{{ url_for('static', filename='css/client-assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/client-assets/js/aos.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/client-assets/js/bs-init.js') }}"></script>
<script src="{{ url_for('static', filename='css/client-assets/js/startup-modern.js') }}"></script>
<script src="{{ url_for('static', filename='js/client-script.js') }}"></script>
</body>

</html>