<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Hardware</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/fonts/fontawesome-all.min.css') }}">
</head>

<body id="page-top" onload="load_page_hardware_liste()">
<div id="hidden-big-div" class="hidden-big" style="display: none">
    <div id="hidden-reclamation" class="hidden-small-first bg-white" style="width: 80%">
        <div class="close-div" onclick="fermer_hardware()">x</div>
        <div class="card-body">
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center">
                <div><label
                        class="form-label" id="hardware-code">Code : </label></div>
                <div><label
                        class="form-label" id="hardware-modele">Modèle : </label></div>
                <div><label
                        class="form-label" id="hardware-num-inv">Numéro d'Inventaire : </label></div>
                <div><label
                        class="form-label" id="hardware-etat">Etat : </label></div>
            </div>
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center">
                <div><label
                        class="form-label" id="hardware-date-achat">Date d'Achat : </label></div>
                <div><label
                        class="form-label" id="hardware-date-mise-service">Date de Mise en Service : </label></div>
                <div><label
                        class="form-label" id="hardware-date-ajout">Date d'Ajout : </label></div>
            </div>

            <div >
                <div style="display: flex; justify-content: space-between"><label
                        class="form-label" >Hardwares Liés : </label><button onclick="ajout_liason()" class="btn btn-outline-warning" >Ajouter une liaison</button></div>

                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table my-0" id="table-hl">



                            </table>
                        </div>

            </div>


        </div>
    </div>
</div>
<div id="wrapper">
    {% include "elements/side-bars/side-bar-admin.html" %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% include "elements/headers/header-admin.html" %}
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Hardware</h3>
                <div class="card shadow">
                    <div class="card-header py-3"
                         style="display: flex;justify-content: space-between;align-items: center;">
                        <p class="text-primary m-0 fw-bold" style="border-color: rgb(78,223,92);color: rgb(78,223,92);">
                            Liste des hardwares</p>
                        <div class="col-md-6" style="text-align: right">
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#modal-hardware" onclick="openPageHardwareAdd()">Ajouter un
                                hardware
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Modèle : <select id="search-modele"
                                                                                class="form-select form-select-lg mb-3"
                                                                                onchange="search_hardware_by_modele()">
                                        <option value="0">Tous les modèles</option>
                                        {% for modele in liste_modele %}
                                            <option value="{{ modele['id_modele'] }}">{{ modele['nom_modele'] }}</option>
                                        {% endfor %}
                                    </select></label></div>

                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Marque : <select id="search-marque"
                                                                                class="form-select form-select-lg mb-3"
                                                                                onchange="search_hardware_by_marque()">
                                        <option value="0">Tous les marques</option>
                                        {% for marque in liste_marque %}
                                            <option value="{{ marque['id_marque'] }}">{{ marque['nom_marque'] }}</option>
                                        {% endfor %}
                                    </select></label></div>

                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Fournisseur : <select id="search-fournisseur"
                                                                                     class="form-select form-select-lg mb-3"
                                                                                     onchange="search_hardware_by_fournisseur()">
                                        <option value="0">Tous les fournisseurs</option>
                                        {% for fournisseur in liste_fournisseur %}
                                            <option value="{{ fournisseur['id_fournisseur'] }}">{{ fournisseur['nom_fournisseur'] }}</option>
                                        {% endfor %}
                                    </select></label>
                                    </div>
                                </div>
                                <div style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Magasin : <select id="search-magasin"
                                                                                 class="form-select form-select-lg mb-3"
                                                                                 onchange="search_hardware_by_magasin()">
                                        <option value="0">Tous les magasins</option>
                                        {% for magasin in liste_magasin %}
                                            <option value="{{ magasin['id_magasin'] }}">{{ magasin['nom_magasin'] }}</option>
                                        {% endfor %}
                                    </select></label>
                                    </div>

                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Salle : <select id="search-salle"
                                                                               class="form-select form-select-lg mb-3"
                                                                               onchange="search_hardware_by_salle()">
                                        <option value="0">Tous les salles</option>
                                        {% for salle in liste_salle %}
                                            <option value="{{ salle['id_salle'] }}">{{ salle['nom_salle'] }}</option>
                                        {% endfor %}
                                    </select></label>
                                    </div>

                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Etat : <select id="search-etat"
                                                                              class="form-select form-select-lg mb-3"
                                                                              onchange="search_hardware_by_etat()">
                                        <option value="0">Tous les états</option>
                                        {% for etat in liste_etat %}
                                            <option value="{{ etat['id_etat'] }}">{{ etat['nom_etat'] }}</option>
                                        {% endfor %}
                                    </select></label>
                                    </div>
                                </div>

                                <div style="display: flex;justify-content: space-around;align-items: center;flex-wrap: wrap;">
                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Code à Barre : <input type="search" id="search-code"
                                                                                     class="form-control form-control-sm"
                                                                                     aria-controls="dataTable"
                                                                                     placeholder="Chercher Par Code à Barre..."
                                                                                     oninput="search_hardware_by_code()"></label>
                                    </div>

                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Numéro d'Inventaire : <input type="search"
                                                                                            id="search-numero-inventaire"
                                                                                            class="form-control form-control-sm"
                                                                                            aria-controls="dataTable"
                                                                                            placeholder="Chercher Par Numéro d'Inventaire..."
                                                                                            oninput="search_hardware_by_numero_inventaire()"></label>
                                    </div>
                                </div>
                                <div style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">

                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Date d'Achat : <input type="date" id="search-date-achat"
                                                                                     class="form-control form-control-sm"
                                                                                     aria-controls="dataTable"

                                                                                     oninput="search_hardware_by_date_achat()"></label>
                                    </div>

                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Date de Mise en Service<input type="date"
                                                                                             id="search-date-mise-en-service"
                                                                                             class="form-control form-control-sm"
                                                                                             aria-controls="dataTable"

                                                                                             oninput="search_hardware_by_date_mise_en_service()"></label>
                                    </div>

                                    <div class=" dataTables_filter" id="dataTable_filter"><label
                                            class="form-label">Date d'Ajout : <input type="date" id="search-date-ajout"
                                                                                     class="form-control form-control-sm"
                                                                                     aria-controls="dataTable"

                                                                                     oninput="search_hardware_by_date_ajout()"></label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table my-0" id="table-hardware">


                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info_hardware" class="dataTables_info" role="status"
                                   aria-live="polite">Showing
                                    1 to 10 of 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination" id="pagination-hardware">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "elements/footers/footer-admin.html" %}
    </div>
</div>
<script src="{{ url_for('static', filename='css/assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/assets/js/theme.js') }}"></script>
<script src="{{ url_for('static', filename='js/hardware-js.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>