<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Intervention</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/fonts/fontawesome-all.min.css') }}">
</head>

<body id="page-top" onload="load_page_intervention(1, 0, '', '', '')">
<div id="wrapper">
    {% include "elements/side-bars/side-bar-admin.html" %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% include "elements/headers/header-admin.html" %}
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Intervention</h3>
                <div class="card shadow">
                    <div class="card-header py-3"
                         style="display: flex; justify-content: space-between; align-items: center;">
                        <p class="text-primary m-0 fw-bold" style="border-color: rgb(78,223,92);color: rgb(78,223,92);">
                            Liste des interventions</p>
                        <!--<button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                data-bs-target="#modal-intervention" onclick="openAddInterventionMode()">Ajouter une
                            intervention
                        </button>-->
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6" style="display: flex; justify-content: space-around">
                                <div class=" dataTables_filter" id="dataTable_filter" style="margin-right: 15px"><label
                                        class="form-label"><input type="search" id="code-hardware-search"
                                                                  class="form-control form-control-sm"
                                                                  aria-controls="dataTable"
                                                                  placeholder="Code Hardware"
                                                                  oninput=""></label>
                                </div>

                                <div class=" dataTables_filter" id="dataTable_filter" style="margin-right: 15px"><label
                                        class="form-label"><input type="search" id="code-user-search"
                                                                  class="form-control form-control-sm"
                                                                  aria-controls="dataTable"
                                                                  placeholder="Code Utilisateur"
                                                                  oninput=""></label>
                                </div>

                                <div class=" dataTables_filter" id="dataTable_filter" style="margin-right: 15px"><label
                                        class="form-label"><input type="search" id="num-hardware-search"
                                                                  class="form-control form-control-sm"
                                                                  aria-controls="dataTable"
                                                                  placeholder="Num Inventaire"
                                                                  oninput=""></label>
                                </div>

                                <div class=" dataTables_filter" id="dataTable_filter" style="margin-right: 15px"><label
                                        class="form-label"><select class="form-select" id="status-int"
                                                                   onchange="search_intervention_status()">
                                    <option value="0">Tous</option>
                                    <option value="1">En cours</option>
                                    <option value="2">Terminé</option>
                                </select> </label></div>
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#modal-fournisseur" onclick="search_intervention_status()">Chercher</button>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table my-0" id="table-intervention">


                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info_intervention" class="dataTables_info" role="status"
                                   aria-live="polite">Showing
                                    1 to 10 of 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination" id="pagination-intervention">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "elements/footers/footer-admin.html" %}
    </div>
</div>
<script src="{{ url_for('static', filename='css/assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/assets/js/theme.js') }}"></script>
<script src="{{ url_for('static', filename='js/intervention-js.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>