<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Magasin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/fonts/fontawesome-all.min.css') }}">
</head>

<body id="page-top" onload="load_page_magasin()">
<div id="wrapper">
    {% include "elements/side-bars/side-bar-admin.html" %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% include "elements/headers/header-admin.html" %}
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Magasin</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold" style="border-color: rgb(78,223,92);color: rgb(78,223,92);">
                            Liste des magasins</p>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class=" dataTables_filter" id="dataTable_filter_magasin"><label
                                        class="form-label"><input type="search" id="nom_magasin"
                                                                  class="form-control form-control-sm"
                                                                  aria-controls="dataTable"
                                                                  placeholder="Chercher par nom..."
                                                                  oninput="search_magasin()"></label>

                                    <label
                                            class="form-label"><select class="form-control form-control-sm"
                                                                       onchange="search_magasin_by_bloc()"
                                                                       id="magasin-bloc">
                                        <option value="get-all">Tous les magasins</option>
                                        {% for bloc in liste_bloc %}
                                            <option value="{{ bloc['id_bloc'] }}">{{ bloc['nom_bloc'] }}</option>
                                        {% endfor %}
                                    </select></label>
                                </div>
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#modal-magasin" onclick="openPageMagasinAdd()">Ajouter un
                                    magasin
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table my-0" id="table-magasin">


                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info_magasin" class="dataTables_info" role="status" aria-live="polite">
                                    Showing
                                    1 to 10 of 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination" id="pagination-magasin">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "elements/footers/footer-admin.html" %}
    </div>
</div>
<script src="{{ url_for('static', filename='css/assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/assets/js/theme.js') }}"></script>
<script src="{{ url_for('static', filename='js/magasin-js.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>